.main {
    width: 90%;
    background-color: rgb(21, 21, 61);
    border-radius: 20px;
    height: fit-content;
    margin-top: 30px;
    min-height: 300px;
}

.content {
    display: flex;
    justify-content: center;
    color: rgb(235, 233, 248);
}

.m-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 96%;
}

.trans-history {
    font-size: 1.5rem;
    width: fit-content;
}

.m-h-right {
    display: flex;
    align-items: center;
}

.m-h-right button {
    background-color: rgb(28, 28, 79);
    color: rgb(235, 233, 248);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.m-h-right button:hover {
    background-color: rgb(50, 50, 115);
    transform: scale(1.05);
}
